#mine{
    height:100%;
    header{
        height: .86rem;
        line-height: .86rem;
        text-align: center;
        background: #fff;
        span{
            &:first-child{
                position: absolute;
                left: .2rem;
            }
        }
    }
    .mine-cont{
        dl{
            background: #fc4141;
            color: #fff;
            text-align: center;
            padding: .1rem 0;
            dt{
                img{
                    width:53px;
                    margin: 0 auto;
                }
            }
        }
    }
}